@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    --color-primary: #4e342e;
    --color-secondary: #d7ccc8;
    --color-background: #fef8e8;
    --color-accent: #ff7043;
    --color-neutral: #f5f5f5;
    --color-dark: #1c1c1c;
    --color-orange: #ea8022;
    --color-success: #66bb6a;
    --color-error: #ef5350;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-neutral: #f5f5f5;
  --color-dark: #1c1c1c;
  --color-orange: #ea8022;
  --color-success: #66bb6a;
  --color-error: #ef5350;
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-inter: var(--font-inter);
  --font-cairo: var(--font-cairo);
}

:root {
  --primary: #4e342e;
  --secondary: #d7ccc8;
  --background: #fef8e8;
  --accent: #ff7043;
  --neutral: #f5f5f5;
  --dark: #1c1c1c;
  --orange: #ea8022;
  --success: #66bb6a;
  --error: #ef5350;
  --radius: 0.625rem;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: color-mix(in oklab, var(--primary) 25%, transparent);
  --input: oklch(0.922 0 0);
  --ring: color-mix(in oklab, var(--primary) 25%, transparent);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--color-background);
  --sidebar-foreground: var(--color-primary);
  --sidebar-primary: var(--color-primary);
  --sidebar-primary-foreground: var(--color-secondary);
  --sidebar-accent: var(--color-secondary);
  --sidebar-accent-foreground: var(--color-primary);
  --sidebar-border: color-mix(in oklab, var(--primary) 25%, transparent);
  --sidebar-ring: var(--color-primary);
}

@layer base {
  * {
    @apply border-border outline-primary/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
